fastapi
uvicorn
python-multipart
streamlit
requests
langchain
langchain-community
langchain-core
sentence-transformers
chromadb
ollama
openai-whisper
sounddevice
numpy
scipy
pypdf
pytesseract
pillow
mlflow
prometheus-fastapi-instrumentator
transformers
torch