fastapi
uvicorn
python-multipart
streamlit
requests
langchain
langchain-community
langchain-core
sentence-transformers
chromadb
groq
numpy
scipy
pypdf
pytesseract
pillow
mlflow
prometheus-fastapi-instrumentator
python-dotenv